[Unit]
Description=Blanket bot
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /python/blanket/blanket_bot.py
ExecStop=/bin/kill -9 $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
StandardInput=tty-force

OOMScoreAdjust=-1000

TimeoutSec=10

[Install]
WantedBy=multi-user.target